<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.starbug1.android.mudanews"
        android:versionCode="182" android:versionName="1.8.2">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/CustomTheme">
        <activity android:name="com.starbug1.android.newsapp.MainActivity"
                android:label="@string/app_name"
                android:launchMode="singleTask"
                android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.starbug1.android.newsapp.EntryActivity"
                android:label="@string/app_name"
                android:launchMode="singleTask"
                android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name="com.starbug1.android.newsapp.FavoriteListActivity"
                android:label="@string/app_name"
                android:launchMode="singleTask"
                android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.starbug1.android.newsapp.AppPrefActivity" 
            android:launchMode="singleTask">
        </activity>
        <receiver android:name="com.starbug1.android.newsapp.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:name="com.starbug1.android.mudanews.AppFetchFeedService" />
        <activity 
            android:name="com.starbug1.android.mudanews.NewsDetailActivity"
            android:launchMode="singleTask"></activity>
        <activity
                android:name="com.google.ads.AdActivity" 
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <!-- PaRappa Support Activity -->
        <activity
            android:name="me.parappa.sdk.activity.SupportActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <!-- PaRappa Notify Activity -->
        <activity
            android:name="me.parappa.sdk.activity.NotifyActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden" />
        <!-- PaRappa Notify Service -->
        <service android:name="me.parappa.sdk.service.NotifyService" />
        <!-- PaRappa Receiver -->
        <receiver android:name="me.parappa.sdk.receiver.StartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <!-- PaRappa Application Code Setting -->
        <meta-data android:name="PARAPPA_APP_CODE" android:value="pLvsV7y2"/>
    </application>
</manifest>
